@charset "utf-8";/*黄色 ff6a00  灰色 #E7E8EA;*/
.margin{
	width:1200px;
	margin:0 auto;
	
}

body{
	overflow-x: hidden;
}
#lt{
	position:fixed;
	right:27px;
	top:200px;
	text-align:center;
	z-index: 10000;
}
#lt ul li{
	width:40px;
	height:40px;
	background:#80BDFF;
	border-radius:50%;
	font: 20px/2 "";
	margin-bottom: 15px;
}
#lt ul li a{
	color:#fff;
}
#lt ul li:hover{
	background:#fff;
}
#lt ul li:hover a{
	color:black;
}
header{
	height: 30px;
	background: #E7E8EA;
	font:12px/2 "";
	
	
}
header .header{
	display: flex;
	justify-content: space-around;
}

header a{
	margin:0 10px;
}
header a:hover{
	color:#ff6a00
}
header .header-c .p2{
	display: none;
}
#tou{
	height: 100px;
	display: flex;
	justify-content: space-between;
	border-bottom: 30px;
}
#tou .logo img{
	height:50px;
	margin:30px 0;

}
#tou .tou-c{
	margin:20px 0 0 0;
}

#tou form{
	
	height:30px;
	width:300px;
	border:2px solid #ff6a00;
	overflow:hidden;
	margin:20px 0 0 0;
	border-radius: 5px;
	position: relative;
}
#tou  #txt{
	border :0;
	float:left;
	width:220px;
	height:30px;
	float:left;
}
#tou .sub{
	height:30px;
	background: #ff6a00;
	float:left;
	width:80px;
	font:12px/2 '';
	border: 0;
	border-radius: 5px;	
	color:#FFFFFF
}
#tou .tou-c p {
	font:12px/2 "";
	margin:0 5px;
}
#tou .tou-r{
	font:16px/2 "";
	margin:45px 10px 0 10px;
}
#tou .tou-r a:hover{
	color:#ff6a00;
}
nav {
	height: 38px;
	border-bottom: 4px solid #ff5c00;
	margin-top: 40px;
	}
nav .nav-l{
	width: 234px;
	float: left;
	}
nav .nav-l span{
	float: left;
	width: 234px;
	height: 38px;
	background: #ff5c00;
	color: #fff;
	font: 600 14px/38px "";
	text-indent: 16px;
	}
nav .nav-l .nav-list{
	box-shadow:0 5px 7px #666;
	width: 234px;
	height: 436px;
	margin-top:42px;
	border-bottom: #ff5c00 4px solid;
	background: #fff;
	}
nav .nav-l .nav-list dl {
	height: 106px;
	width: 204px;
	margin-left: 16px;
	border-bottom:1px #eeeeee solid;
	}

nav .box,.box-r{
	display:none;
	width: 720px;
	height: 437px;background: #fff;
	position: absolute;
	box-shadow:0 5px 7px #acacac;
	margin: -225px 0 0 210px;}
nav .box h5,.box-r h5{
	font:600 12px/48px "";
	color: #5e5e5e;
	float: left;}
nav .nav-l .nav-list .bb .box ul li:first-child{
	margin-left: -73px;
	}
nav .nav-l .nav-list .box-l.box-r ul li:first-child{
	margin-left: -73px;
	}
 .box ul li,.box-r ul li{
 	float: left;
 	width: 98px;
 	height: 85px;
 	border: 1px solid #ededed;
 	margin: 52px 0 0 0;
 	}
 .box ul li span,.box-r ul li span{
 	font: 12px/3 "";
 	color: #757575;
 	background: none;
 	float: left;
 	margin: -8px 0 0 7px;
 	}
nav .nav-l .nav-list dl dt{
	font: 600 14px/34px "";
	color: #ff5c00;
	display: block;
	}
nav .nav-l .nav-list dl dt b{
	float: right;
	}
.box b,.box-r b{
	color: #3e3e3e;
	float: left;
	margin:16px 10px 0 16px;
	}
nav .nav-l .nav-list dl:nth-child(2){
	height: 82px;
	}
nav .nav-l .nav-list dl:nth-child(3){
	height: 60px;}
nav .nav-l .nav-list dl:nth-child(4){
	height: 84px;}
nav .nav-l .nav-list dl:nth-child(5){
	height: 40px;}
nav .nav-l .nav-list dl:nth-child(6){
	height: 36px;}
nav .nav-l .nav-list dl dd a{
	font: 12px/16px "";
	color: #717171;
	float: left;
	margin:0 16px 7px 0;
	}
nav .nav-l .nav-list dl dd a:hover{
	color: #ff5c00;
	}
nav ul li{
	font: 600 14px/38px "";
	float: left;
	margin:0 24px 0 24px;
	}
nav ul li:last-child a{
	color: #ff5c00;
	}
nav ul li a:hover{
	color:#ff5c00;
	}

#banner{
	width:1519px;
	position: relative;
	height:440px;
	z-index: -1;
	overflow: hidden;
	top: -440px;
	}
#banner .imgbox img{
	width: 1519px;
	height:440px;
	position: absolute;
	left: 1519px;
	top:0;
	}
#banner img:nth-child(1){
	left:0;
	}
.btns{
	width: 565px;
	margin:220px 398px;
	position: absolute;
	}
.btns i{
	display: inline-block;
	vertical-align: middle;
	}
.btns #left{
	background-position:-245px -46px; 
	width: 30px;
	height: 33px;
	margin-left: 16px; 
	}
.btns #right{
	background-position: -202px -46px;
	width: 30px;
	height: 33px;
	float: right;
	}

#banner .right{
	width: 212px ;
	position: absolute;
	right: 270px;top: 10px;
	height: 440px;
	}

#banner .right .right-l{
	width:212px;
	height: 140px;
	background: #fff;
	margin-bottom: 2px;
	display: block;
	 }

#banner .right .right-l span{
	 float:right;
	 width: 65px;
	 top: 20px;
	 font-size: 15px;
	 margin-top:36px;
	 margin-left:25px;
	 display: inline-block;
	 float: left;
	 }
#banner .right a img{
	vertical-align: middle;
	float: right;
	width:120px;
	height:120px;
	}
#banner .ce{
	width: 212px ;
	position: absolute;
	right: 270px;
	top: 10px;
}
#banner .ce ul {
	
}
#banner .ce ul li{
	width:212px;
	height: 140px;
	background: #fff;
	margin-bottom: 2px;
	display: block;
	transition:1s linear;
	
}
#banner .ce ul li{
	width:212px;
	height: 140px;
	background: #fff;
	margin-bottom: 2px;
	transition:1s linear;
	}
#banner .ce ul li span{
	float:left;
	width: 65px; 
	top: 20px;
	font-size: 15px;
	margin-top:36px;
	margin-left:25px;
	display: inline-block;
	}
#banner .ce ul li:hover{
	margin-left: 5px;
	}
#banner .ce ul li img{
	width:112px;
	height: 140px;
	float:right;
	margin-left:-1419px;
}
section{
	margin-top:-440px;
	
	}
section .margin ul{
	overflow: hidden;
	height: 150px;
}

section .margin li{
	width: 235px;
	margin:35px 5px 0 0;
	height: 53px;
	float: left;
	}
#jishi{
	height: 250px;
	overflow: hidden;
}
#jishi .left{
	font-size: 24px;
    float: left;
    width: 232px;
    height: 200px;
    text-align: center;
    color: #fff;
    background-color: #aacc03;
}
#jishi .left img{
	margin-top:20px;
}
 #jishi ul li {
    position: relative;
    z-index: 9;
    float: left;
    overflow: hidden;
    width: 240px;
    height: 200px;
    margin-right: -1px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
   
    }
#jishi ul li img{
	height: 160px;
	width:160px;
	margin: 20px 0;
}
#jishi .right {
	float:right;
}
#jishi .right img{
	width:244px;
	height: 202px;
}
main{
	
}
main #f1,#f2,#f3,#f4,#f5{
	height:706px;
	margin-bottom: 40px;
	position: relative;
}
main h2{
	font: 600 20px/55px "";
	color: #5a5b59;
	display: inline-block;
}
main p{
	display: inline-block;
	font: 14px/55px "";
	color: #6b666e;
	margin-left: 20px;
}
main a{
	float: right;
	display: inline-block;
	font: 12px/55px "";
	color:#6b666e; 
}
main .left{
	width:243px;
	height:650px;
	float: left;
	position: absolute;
	background: #ffc0bb;
}
main .left img{
	height:438px ;
	width:243px;
}
main .love .left{
	background: #c2acd1;
}

main .famliy .left{
	background: #d6d8ec;
	}
main .immortal .left{
	background: #d6d8ec;
}
main .dangao .left{
	background: #B1DFBB;
}
main .liwu .left{
	background: #FCEFA1;
}
main .left a{
	color: #fff;
	display: block;
	width: 194px;
	height: 48px;
	border: 2px #fff solid;
	text-align: center;
	font: 18px/48px "";
	margin: 72px 24px;
}
main .right ul li{
	position: relative;
    z-index: 9;
    float: right;
    overflow: hidden;
    width: 240px;
    height: 314px;
    margin-right: -1px;
    margin-bottom: -1px;
    padding-top: 10px;
    text-align: center;
    border: 1px solid #e5e5e5;
    background-color: #fff;}
main .right ul li a img{
	width: 220px;
	height: 240px;
	margin-top: 10px;
	}
main .right ul li p{
	font: 12px/20px "";
	color: #6f6f6f;
	margin-top: 20px;
	}
main .right ul li span{
	font:600 12px/20px "";
	color:#000;
	display: block;
	margin-top:-18px;}
#huayu{
	height: 300px;
}
#huayu h5{
	background:#B6B6B6;
	height: 40px;
	display: flex;
	justify-content: space-between;
	font:20px/2 "";
}
#huayu .hua{
	display: flex;
	justify-content: space-around;	
}
#huayu .hua ul li a{
	font:14px/2 "";
}
#huayu .hua ul li a:hover{
	color:#ff6a00;
}
.interest{
	height: 175px;
	}
.interest .in-box{
	height: 175px;
	border: 1px solid #e2e2e2;
	}
.interest .in-box .interest-left{
	float: left;
	width: 340px;
	}
.interest .in-box .interest-right{
	float: right;
	width: 392px;
	}
.interest .in-box .interest-between{
	width: 466px;
	float: left;
	}
.interest .in-box .interest-left img,.interest .in-box .interest-right img{
	vertical-align: middle;
	float: left;
	margin: 32px 0 0 34px;
	}

.interest .in-box .interest-left h2,.interest .in-box .interest-right h2{
	color: #ff5c00;
	float:left;
	font:600 16px/33px "";
	margin: 25px 0px 0 20px;
	}
.interest .in-box .interest-left span{
	float:left;
	font: 12px/28px "";
	color: #737373;
	margin: 54px 0 0 -97px;
	}
.interest .in-box .interest-right span{
	float:left;
	font: 12px/18px "";
	color: #737373;
	margin-left: 20px;
	}
.interest .in-box .interest-left i,.interest .in-box .interest-right i{
	margin: 15px 0 0 24px;
	float: left;
	}
.interest .in-box .interest-left .iphone{
	background-position: -134px 0 ;
	width: 50px;
	height: 50px;}
.interest .in-box .interest-left .weixin{
	background-position: -60px -74px;
	width: 50px;
	height: 50px;
	margin-left: 10px;}
.interest .in-box .interest-right .wechat{
	background-position: -134px -60px;
	width: 48px;
	height: 48px;
	margin-left: 20px;}
.interest .in-box .interest-between img{
	margin-top: 32px;
	}
.interest .interest-right{}
.interest .interest-right img{}


.footer-server{
	height: 86px;
	margin-top: 15px;
	overflow: hidden;
	line-height: 86px;
	}
.footer-server .f-server{
	background: #ff6100;
	}
.footer-server .f-server ul li{
	float: left;
	}
.footer-server .f-server ul li .year{
	background-position: -51px -194px;
	width: 38px;height: 24px;
	}
.footer-server .f-server ul li .sales{
	background-position: -11px -192px;
	width: 18px;
	height: 24px;
	}
.footer-server .f-server ul li .millon{
	background-position: -202px -108px;
	width: 25px;
	height: 24px;
	}
.footer-server .f-server ul li .fashion{
	background-position: -202px -59px;
	width: 24px;
	height: 24px;
	}
.footer-server .f-server ul li a
color: #fff;
}
.footer-server .f-server ul li b{
	font: 14px/86px "";
	margin-left: 10px;
	}
.footer-server .f-server ul li img{
	margin: 0 14px 0 17px;
	}
.footer-server .f-server ul:nth-child(1){
	margin-left: 20px;
	}
footer{height: 86px;
margin-top: 15px;
overflow: hidden;
line-height: 86px;
margin-bottom: 15px;
}
footer ul{
	background: #ff6100;
	height: 86px;
	overflow: hidden;
}
footer ul li{
	width:150px;
	float: left;
}
footer ul li span{
	text-align: center;
	margin-left: 30px;
	color:#FFFFFF;
	font:12px/20px "";
}
footer ul li img{
	margin: 0 14px 0 17px;
	
}
.footer-t{
	height: 80px;
}
.footer-t ul li{
	float:left;
	
}
.footer-t ul li a{
	margin:80px 30px 60px 30px;
	font:14px/2 "";
}

.footer-b{
	margin:0 auto;
	padding-bottom: 20px;
	border-bottom: 1px solid #ACACAA;
}
.footer-b p{
	margin-left:400px;
	font:12px/2 "";	
	
}
.footer-c{
	margin:30px auto;
}
.friend{
	height: 40px;
	border-bottom: 1px solid #ACACAA;
	font:14px/2 "";
	text-align: center;
}
	
	
.friend a{
	margin: 0 20px;
}
.tou{position: fixed;
	bottom: 20px;    
	right:15px;
	width:60px;
	height:60px;
	background: #80BDFF;
	border-radius:50%;
	color:#fff;
	text-align: center;
	font: 800 20px/3 "";
}
